<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.unitconverterapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_unit"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_unit"
        android:supportsRtl="true"
        android:theme="@style/Theme.UnitConverterApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".RupeeActivity"
            android:exported="false" />
        <activity
            android:name=".TimeActivity"
            android:exported="false" />
        <activity
            android:name=".AreaActivity"
            android:exported="false" />
        <activity
            android:name=".LengthActivity"
            android:exported="false" />
        <activity
            android:name=".TempActivity"
            android:exported="false" />
        <activity
            android:name=".WeightActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>